<footer>
    <div class="f-info">
        <div class="f_content">
        <div class="f-info-follow footer_div">
            <h5 class="footerh"><b>Follow Us On Social Media</b></h5>
            <div class="f-info-socials">
            <i class="fa-brands fa-facebook-square" ></i>
            <a href="https://www.instagram.com/ieee_jce?igsh=NWNtcTlmYml1OHMw" class="f_a"><i class="fa-brands fa-instagram" ></i></a>
            <i class="fa-brands fa-linkedin"></i>
            <i class="fa-brands fa-square-twitter"></i>
            </div>
        </div>
         <div class="other_link footer_div">
            <h5 class="footerh"><b>Connect with IEEE</b></h5>
            <ul class="footer_list">
             <li><img src="/img/forward_icon.png" alt="" class="forward_icon"><a href="https://www.ieee.org/" class="f_a">IEEE</a></li>
             <li><img src="/img/forward_icon.png" alt="" class="forward_icon"><a href="https://wie.ieee.org/" class="f_a">WIE</a></li>
             <li><img src="/img/forward_icon.png" alt="" class="forward_icon"><a href="https://www.ieeer10.org/" class="f_a">IEEE Region 10</a></li>
             <li><img src="/img/forward_icon.png" alt="" class="forward_icon"><a href="https://ieeebangalore.org/" class="f_a">IEEE Bangalore Section</a></li>
             <li><img src="/img/forward_icon.png" alt="" class="forward_icon"><a href="https://ieeexplore.ieee.org/Xplore/home.jsp" class="f_a">IEEE Xplore</a></li> 
             </ul>  
        </div>
        <div class="quick_links footer_div">
            <h5 class="footerh"><b>Quick links</b></h5>
            <ul class="footer_list">
            <li><img src="/img/forward_icon.png" alt="" class="forward_icon"><a href="/" class="f_a">About</a></li>
            <li><img src="/img/forward_icon.png" alt="" class="forward_icon"><a href="/events" class="f_a">Events</a></li>
            <li><img src="/img/forward_icon.png" alt="" class="forward_icon"><a href="/team" class="f_a">Execom 2023</a></li>
            <li><img src="/img/forward_icon.png" alt="" class="forward_icon"><a href="/contact" class="f_a">Contact</a></li>
            </ul>
        </div>
        </div>
        <div class="f-info-brand">&copy; IEEE|Jain College of Engineering,Belgavi</div>
    </div>
    
</footer>