<% layout('layouts/boilerplate') -%>
<body>
    <h1 class="heading">
        IEEE STUDENT BRANCH
        <br>
        <small class="text-body-secondary"><h3 class="heading1">Jain College of Engineering , Belgavi</h3></small>
      </h1>
      <img src="/img/group.JPG" alt="grp" class="grp" >
</body>