<% layout('layouts/boilerplate') -%>
<body>
    <div>
    <div class="teamh"><h1><b>IEEE Team</b></h1></div >
    <div class="container d-flex justify-content-center">
      <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 g-4 ">
        <div class="col col-item">
          <div class="card" style="width: 18rem;">
            <img src="/img/Austin Pacheco.JPG" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Austin Pacheco</h5>
              <p class="card-text">Chair</p>
            </div>
          </div>
        </div>
        <div class="col col-item">
          <div class="card" style="width: 18rem;">
            <img src="/img/Chandan Kangralkar.JPG" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Chandan Kangralkar</h5>
              <p class="card-text">Vice Chair</p>
            </div>
          </div>
        </div>
        <div class="col col-item">
          <div class="card" style="width: 18rem;">
            <img src="/img/Kshiti Gaddigoudar.JPG" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Kshiti Gaddigoudar</h5>
              <p class="card-text">Secratery</p>
            </div>
          </div>
        </div>
        <div class="col col-item">
          <div class="card" style="width: 18rem;">
            <img src="/img/Shreedhar.JPG" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">shreedhar Teradal</h5>
              <p class="card-text">Treasurer</p>
            </div>
          </div>
        </div>
        <div class="col col-item">
          <div class="card" style="width: 18rem;">
            <img src="/img/Rahul.JPG" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Rahul Halkarni</h5>
              <p class="card-text">Media Head</p>
            </div>
          </div>
          </div>
        <div class="col col-item">
            <div class="card" style="width: 18rem;">
              <img src="/img/Abhishek Basinayak.JPG" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Abhishek Basinayak</h5>
                <p class="card-text">Membership drive co-ordinator</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      
    
      <div>
         <div class="wieteamh"><h1><b>WIE Team</b></h1></div>
          <div class="container d-flex justify-content-center">
            <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 g-4">
              <div class="col col-item">
                <div class="card" style="width: 18rem;">
                  <img src="/img/Neha Patil.JPG" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Neha Patil</h5>
                    <p class="card-text">WIE Chair</p>
                  </div>
                </div>
              </div>
              <div class="col col-item ">
                  <div class="card" style="width: 18rem;">
                    <img src="/img/Varsha V.JPG" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Varsha V</h5>
                        <p class="card-text">WIE Vice Chair</p>
                      </div>
                    </div>
                  </div>
                  <div class="col col-item ">
                    <div class="card" style="width: 18rem;">
                      <img src="/img/Chaitra Kolli.JPG" class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">Chaitra Kolli</h5>
                        <p class="card-text">WIE Secratery</p>
                      </div>
                    </div>
                    </div>
                    <div class="col col-item">
                        <div class="card" style="width: 18rem;">
                          <img src="/img/Rohit Hegade.JPG" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Rohit Hegade</h5>
                            <p class="card-text">WIE Treasurer</p>
                          </div>
                        </div>
                     </div>
                     <div class="col col-item">
                        <div class="card" style="width: 18rem;">
                          <img src="/img/Siddharth.JPG" class="card-img-top" alt="...">
                          <div class="card-body">
                            <h5 class="card-title">Siddharth Jambagi</h5>
                            <p class="card-text">WIE Media Head</p>
                          </div>
                        </div>
                    </div>
            </div>
            </div>
        </div>
</body>